.todo-wrapper {
    align-items: center;
    border: 0.25px rgb(132, 132, 132) solid;
    border-radius: 0.25rem;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    margin: 12px;
    width: 40%;
    background: #dcdcdc;
}

.todo-wrapper p {
    color: #353535;
    font-size: 24px;
}